body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-shadow: black;
    text-align: center;
}
table{
    text-align: center;
    margin: auto;
}
tr,td,th{
    text-align: center;
}
div{
    text-align: center;
}